<div class="row">
<div class="large-3 medium-4 columns" style="overflow: hidden;">
  <div class="sidebar" style="position: fixed; min-width: 200px;">
    <nav>
    <ul class="side-nav">
      <li class="heading">The Basics</li>

      <li><a ng-click="anchor($event)">Introduction</a></li>
      <li><a ng-click="anchor($event)">Deck Building</a></li>

      <li class="divider"></li>
      <li class="heading">Game UI</li>

      <li><a ng-click="anchor($event)">Interface</a></li>
      <li><a ng-click="anchor($event)">Hot Keys</a></li>
      <li><a ng-click="anchor($event)">Voice Chat</a></li>
      <li class="divider"></li>

      <li class="heading">Other Stuff</li>
      <li><a ng-click="anchor($event)">Connection Issues</a></li>
      <li><a ng-click="anchor($event)">Device Support</a></li>
      <li><a ng-click="anchor($event)">Funding</a></li>
      <li><a ng-click="anchor($event)">Contribute Code</a></li>
      
      <li class="divider"></li>
    </ul>
    </nav>
  </div>
</div>
<div class="large-9 medium-8 columns">
  <h2>FAQ <small>The Complete UnTap.in How to</small></h2>
  <hr>
  <h2 style="text-align:center;">The Basics</h2>
  <hr>
  <h3>Introduction</h3>
  <p>UnTap is a multiplayer CCG deck tester. Decks are built and play-tested from various formats against other opponents online. Our unique deck builder uses API searches to build your deck ready to play-test simple and mess free. Everything is in the browser no downloads or plugins required.</p>
  
  <hr>

  <h3>Deck Building</h3>
  <p>Deck builder is accessed through creating a deck from the <strong>Decks</strong> menu and creating or editing the selected deck.</p>
  <p>Each CCG type has its own set deck field options, but for the most part all cards are added in the same way.</p>

  <h4>Basic Input</h4>
  <div class="row">
    <div class="large-6 columns">
    <h6>DECK INPUT</h6>
      <div class="panel">
        <code>
        4 Mystic Enchant <br />
        4 Flaming Sword <br />
        2 Dragon Breath
        </code>
      </div>
    </div>
    <div class="large-6 columns">
    <h6>EXPLAINED</h6>
      <div class="panel callout">
        <p>
          Each Line is prefixed with a quanity followed by the name of the card. This applies to all card input areas (Main/Secondary deck, Sideboard, Alt Cards)
          </p>
      </div>
    </div>
  </div>

  <h4>Importing a Deck</h4>
  <p>There are two methods for importing decks uploading a deck file or fetching from a deck URL. Uploading Deck files supports <strong>txt dec l5d o8d</strong> file types.<br>
  Fetching decks from URL works by pulling a deck list down from a URL, if the page has a deck list on it, UnTap will do its best to import it. Not all URLs are supported, please make sure that the deck page is public and no login is required to access the page.</p>
  <br />

  <h4>Custom Cards</h4>
  <p>Since UnTap uses remote URLs for all its card images you can by pass the card search API and manually add a custom image URL for a card. Custom cards will flag the deck as containing custom cards to prevent people changing card text, or atleast making you cautious to the know that the card is custom. A three character hash is created to store the URL for future saves.</p>
  <p>This can be used to play homebrew cards, unreleased sets/cards, and token cards.</p>
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <h6>DECK INPUT</h6>
      <div class="panel">
        <code>
        4 Token Frog^http://url.img/tokenfrog.jpg <br />
        4 Red Monkey^http://custom.art/monkey.jpg <br />
        2 Rules card^http://rules.com/card.jpg
        </code>
      </div>
      <p>Please note, the URLs above are examples only. You have to provide a link to the card image.
    </div>
    <div class="small-12 medium-12 large-4 columns">
    <h6>EXPLAINED</h6>
      <div class="panel callout">
        <p>
          Each line is still prefixed with a quantity, but appending ^ then a URL to the card name will bypass the API search
          </p>
      </div>
    </div>
  </div>

  <h4>Double Sided Cards</h4>
  <p>Certain cards will need to be double sided, in this case you can use the % seperator in the deckbuilder. In game once a card is in play it can be fliped to reveal its second face.</p>
  <div class="row">
    <div class="large-6 columns">
      <h6>DECK INPUT</h6>
      <div class="panel">
        <code>
        4 Catterpiller%Butterfly <br />
        4 Heads%Tails <br />
        </code>
      </div>
    </div>
    <div class="large-6 columns">
    <h6>EXPLAINED</h6>
      <div class="panel callout">
        <p>
          Each line is still prefixed with a quantity, but splitting the 2 faces with a % will make both side of the card accessible when play-testing.
          </p>
      </div>
    </div>
  </div>

  <hr>
  <h2 style="text-align:center;">Game UI</h2>
  <hr>

  <h3>Interface</h3>
  <p>Flick through the slide show belwow for a basic run down.</p>
  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://www.untap.in/img/help/interface-play.jpg" alt="Play Area" />
      <div class="orbit-caption">
        Play Area: Cards can be dragged around, click for menu, double click to pivot card.
      </div>
    </li>
    <li>
      <img src="http://www.untap.in/img/help/interface-deck.jpg" alt="Deck" />
      <div class="orbit-caption">
        Deck: Click for menu and actions, double click for single draw.
      </div>
    </li>
    <li>
      <img src="http://www.untap.in/img/help/interface-hand.jpg" alt="Hand" />
      <div class="orbit-caption">
        Hand: Not visible to opponent. Click for card actions, single click to play.
      </div>
    </li>
    <li>
      <img src="http://www.untap.in/img/help/interface-piles.jpg" alt="Piles" />
      <div class="orbit-caption">
        Discard, expelled and facedown piles: Click black bar to expand or mousewheel to scroll through cards.
      </div>
    </li>
    <li>
      <img src="http://www.untap.in/img/help/interface-log.jpg" alt="Log" />
      <div class="orbit-caption">
        Game Log: Shows all actions taken and includes the game chat. <strong>P</strong> for Public chat, <strong>S</strong> for spectator chat.
      </div>
    </li>
  </ul>

  <b>Card Menus</b><br>
  <p>All of your cards will have a left click menu. This menu allows actions to be performed on that card. Actions that send a card back to deck will send the card to its default deck.</p>
  <p>Double clicking a card will perform its default action</p>

  <b>Play Area</b><br>
  <p>Once cards are in the play area they can be moved around via click and drag. To move a pile of cards hold shift while clicking and dragging.</p>

  <p>Cards in the play area can be targeted while holding shift and clicking the source card then the target cards.</p>

  <b>Decks</b><br>
  <p>Left click decks to open the menus, while menus are open you can type a number to perform the action multiple times. ex. type 7 them click draw, to draw 7 cards. (This will also work with hot keys)</p>

  <p>Some games require multiple decks. The deck on the left will always be the default draw deck. The secondary deck will be on the right. Both decks are subject to similar actions but hotkeys will not work for the second deck.</p>
 
  <b>Game Log</b><br>
  <p>The Game Log displays the history of events that have happened during your game. All of the cards that appear in the game log can be hovered over to show a pop up of the card in its entirety. The names of the cards in the game log will be shown as “Unknown card” if you do not have the correct permissions to view the card (ex. Your opponent draws a card it will show the cards name for them, but for you it will show “unknown card”) If you are later allowed to see the card it will update in the game log automatically. 
  </p>

  <hr>

  <h3>Hot Keys</h3>
  <p>Designed to speed up game play, Hot Key offer simple actions to save time opening menus. There are two kinds of hot keys on the UnTap UI.</p>
  <p>Global Hot Keys: Can be used at any time, typicaly trigger game events (changeing counters, opening menus and more).</p>
  <p>Hover Card Hot Keys: These hot keys can be pressed while hovering cards, they will perform an action based on the hovered card.</p>

  <div class="row">
    <div class="large-6 columns">
      <h6>Global Hot Keys</h6>
      <div class="panel callout">
      <ul class="no-bullet">
        <li> <kbd>ESC</kbd> - Open Game menu </li>
        <li> <kbd>Up</kbd> - Increase HP Counter </li>
        <li> <kbd>Down</kbd> -  Decrease HP Counter </li>
        <li> <kbd>Shift</kbd>+<kbd>Up</kbd> - Increase HP Counter by 5 </li>
        <li> <kbd>Shift</kbd>+<kbd>Down</kbd> -  Decrease HP Counter by 5 </li>
        <li> <kbd>N</kbd> -  Next phase of turn </li>
        <li> <kbd>X</kbd> -  Unpivot all cards </li>
        <li> <kbd>C</kbd> -  Draw from deck </li>
        <li> <kbd>F</kbd> -  Find card in deck </li>
        <li> <kbd>G</kbd> -  Look at top card of deck </li>
        <li> <kbd>V</kbd> -  Shuffle deck </li>
        <li> <kbd>~</kbd> -  Game Connection Stats </li>
      </ul>
      </div>
    </div>

    <div class="large-6 columns">
    <h6>Hover Card Hot Keys</h6>
      <div class="panel callout">
        <ul class="no-bullet">
          <li> <kbd>Space</kbd> - Default Action for hovered card</li>
          <li> <kbd>T</kbd> - Send to top of deck</li>
          <li> <kbd>Y</kbd> - Send to bottom of deck</li>
          <li> <kbd>J</kbd> - Clone token card</li>
          <li> <kbd>D</kbd> - Discard card</li>
          <li> <kbd>S</kbd> - Expel card</li>
          <li> <kbd>R</kbd> - Return to hand/Send to end of hand</li>
          <li> <kbd>P</kbd> - Send to face down pile</li>
          <li> <kbd>K</kbd> - Flip Card</li>
          <li> <kbd>L</kbd> - Clone Card</li>
          <li> <kbd>Z</kbd> - Pivot group</li>
        </ul>
      </div>
      <p>Some of these actions will also work while hovering your deck, to actiont the top card of deck.</p>
    </div>
  </div>

  <p>Multiple actions with hotkeys can be used by typing a number followed by the global hotkey, ex. typing 7c will draw 7 cards.</p>

  <hr>

  <h3>Voice Chat</h3>

  <p>Voice chat can be started via the game menu (press ESC or click your username). The feature requires your browser to support WebRTC. Latest Chrome and Firefox support this. To see if your browser supports this <a href="http://caniuse.com/rtcpeerconnection" target="_blank">Click Here</a></p>


  <hr>

  <h2 style="text-align:center;">Other Stuff</h2>
  
  <hr>

  <h3>Connection Issues</h3>

  <p>Any issues with not being able to start games, unable to select deck, games returning to lobby once loaded or any game drop outs you can diagnose these issues with the following links</p>

  <p><a href="http://websocketstest.com/" target="_blank">Test Web Sockets</a> - UnTap requires port 443 for the game cleint. If this is being blocked you will not be able to play-test on UnTap.</p>

  <p><a href="http://whatiflabs.net/injectCheck/" target="_blank">Injected Code</a> - Some browser extenstions will inject code that may conflict with the clients ability to run properly, this test will scan for any injected code running on your web browser.</p>

  <p>Last thing to check, is your browser up to date. <a href="https://www.whatismybrowser.com/" target="_blank">Check Browser Version</a>/</p>

  <p>If you are still having issues after you have confirmed all of the above checks are fine, please try another browser before reporting the problem.</p>

  <hr>

  <h3>Device Support</h3>
  <p>Currently UnTap.in offers full support for the latest versions of Chrome, Firefox, Safari, Internet Explorer and Opera running on Mac, Linux or Windows.</p>
  <p>Tablet Support is in the public stages of testing and offers near next to full support for <strong>tablet sized</strong> iOS 7 Devices and Android Devices. Running UnTap on a tablet requires it to be installed as a Web App.</p>

  <h4>Installing UnTap.in Web App on iOS 7</h4>

  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/ios_start.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Browse to UnTap.in in Safari and select the up arrow box.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/ios_add.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Select Add to Home Screen.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/ios_home.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Confirm the icon and title loaded correctly and select Add.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/ios_done.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>UnTap.in will now be on your home screen as a Wep App.</p>
      </div>
    </div>
  </div>
  
  <br>
  <h4>Installing UnTap.in Web App on Android</h4>
  <p>UnTap.in Support Tablets running Android 4.0+ and Chrome Beta. Follow the bellow instructions to install the web app on your device.</p>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/andr_dlcb.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Download Chrome Beta from the Play Store, its free and is required for UnTap to run on Android devices.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/andr_start.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Browse to UnTap.in in Chrome Beta and select the three dots.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/andr_add.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>Select Add to homescreen.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/andr_home.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>After confirming the app title, select add.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
    <a class="th radius" href="#">
      <img src="http://www.untap.in/img/help/andr_done.png" />
    </a>
    </div>
    <div class="large-8 medium-6 columns">
      <div class="panel callout">
        <p>You should now have the app installed on your home screen.</p>
      </div>
    </div>
  </div>
  <br>
  
  <hr>
  <h3>Funding</h3>
  <p>All contributions go towards paying server costs and other UnTap related upkeep.</p>

  <p>You will receive the perks of your funded amount instantly once payment has been made.</p>
  <p>No refunds will be made regardless, so double check everything before proceeding. All payments are processed through Paypal.</p>
  <p>Deck backs and slots will stay with your account permanently. Any issues please contact admin@untap.in, we will sort it out ASAP.</p>
  <p>Yes, you can fund multiple times and get the perks added each time.</p>

  <p>Apart from the perks from the funding page, funders will also gain access to a few other things around UnTap.in</p>

  <p><strong>Access to server 2 (S2)</strong>: This server is alway on a stable release and is dedicated to hosting games. (Server 1 (S1) is typically on a development release version of the server daemon and will tend to be subjective to LAG during peak periods)</p>

  <p><strong>Game Start Delay</strong>: Funders have the benifit of no countdown timer when starting games.</p>

  <hr>
  <h3>Contribute Code</h3>

  <p>UnTap.in's Lobby and game UI are hosted on github for any one wanting to contribute, <a href="https://github.com/cokeeffekt/lobbyui" target="_blank">UnTap on GitHub</a></p>
  <hr>
</div>
</div>


</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
<script> $(document).foundation(); </script>