<h2>UnTap Funding</h2>
<div class="large-4 columns">
	<p>Although UnTap tries to provide as much to the users as possible for free, obviously we have running costs. All funding goes towards paying server costs, and other general upkeep.</p>
	<p>By funding you will be open to receiving some "Perks", the main one being access to Server 2. Once you are a funder you will be automatically moved to server 2, a faster server with the dedicated purpose of hosting games. Server 1 & 2 are cross compatable with each other.</p>
	<p>Some other perks include up to 6 player multipler games, custom uploaded deck backs, password lock your games, extended game history and of course more deck slots!</p>
	<p>Funding is a one time action, although you can fund multiple times to stack deck slots.</p>
</div>
<div class="large-4 columns">
	<ul class="pricing-table">
		<li class="title">Basic</li>
		<li class="price">$5</li>
		<li class="description">Basic Funder</li>
		<li class="bullet-item">+5 Deck Slots</li>
		<li class="bullet-item">Upload Custom Deck Backs</li>
		<li class="bullet-item">Game Passwording</li>
		<li class="bullet-item">Extra Game History</li>
		<li class="bullet-item">Custom Hotkeys (Soon)</li>
		<li class="cta-button">
			<a class="button" href="http://www.untap.in/fundGateway.php?fundam=FUND005" target="_blank">
				<i class="fi-paypal"></i> Fund $5
			</a>
		</li>
	</ul>
</div>
<div class="large-4 columns">
	<ul class="pricing-table">
		<li class="title">Extras</li>
		<li class="price">$15</li>
		<li class="description">The Extra Stuff</li>
		<li class="bullet-item">+15 Deck Slots</li>
		<li class="bullet-item">Upload Custom Deck Backs</li>
		<li class="bullet-item">Game Passwording</li>
		<li class="bullet-item">Even More Game History!</li>
		<li class="bullet-item">Custom Hotkeys (Soon)</li>
		<li class="cta-button">
			<a class="button" href="http://www.untap.in/fundGateway.php?fundam=FUND015" target="_blank">
				<i class="fi-paypal"></i> Fund $15
			</a>
		</li>
	</ul>
</div>


<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<!-- http://www.untap.in/fundGateway.php?fundam=FUND005 -->